<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout::head}">
    <meta charset="UTF-8">
    <title>Mantenimiento de proveedores</title>
</head>
<body>
<script th:src="@{/scripts/web/backoffice/proveedor/frmMantProveedor.js}"
        type="text/javascript"></script>
<nav th:replace="~{layout::menu}"></nav>
<div class="card ">
    <div class="card-header text-bg-dark mb-3">
        Mantenimiento de Proveedores
    </div>
    <div class="card-body">
        <button id="btnagregar"
                type="button" class="btn btn-primary"><i class="fas fa-plus"></i> Agregar</button>
        <hr />
        <div id="mensaje"></div>
        <table id="tblproveedor" class="table">
            <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Tipo de documento</th>
                <th scope="col">Documento</th>
                <th scope="col">Nombre</th>
                <th scope="col">Dirección</th>
                <th scope="col">Distrito</th>
                <th scope="col">Ciudad</th>
                <th scope="col">Tipo</th>
                <th scope="col">Comentarios</th>
                <th scope="col">Estado</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="proveedor :${listarproveedores}">
                <td th:text="${proveedor.id}"></td>
                <td th:text="${proveedor.tipo_documento}"></td>
                <td th:text="${proveedor.documento}"></td>
                <td th:text="${proveedor.nombre}"></td>
                <td th:text="${proveedor.direccion}"></td>
                <td th:text="${proveedor.distrito}"></td>
                <td th:text="${proveedor.ciudad}"></td>
                <td th:text="${proveedor.tipo}"></td>
                <td th:text="${proveedor.comentarios}"></td>
                <td th:text="${proveedor.estado}"></td>
                <td>
                    <button type="button" class="btn btn-info btnactualizar"
                            th:data-id="${proveedor.id}"
                            th:data-tipo_documento="${proveedor.tipo_documento}"
                            th:data-documento="${proveedor.documento}"
                            th:data-nombre="${proveedor.nombre}"
                            th:data-direccion="${proveedor.direccion}"
                            th:data-distrito="${proveedor.distrito}"
                            th:data-ciudad="${proveedor.ciudad}"
                            th:data-tipo="${proveedor.tipo}"
                            th:data-comentarios="${proveedor.comentarios}"
                            th:data-estado="${proveedor.estado}"><i class="fas fa-edit"></i></button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<!-- Modal Registrar / Actualizar Proveedor -->
<div class="modal fade" id="modalNuevo" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Proveedor</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label for="cbotipodoc" class="form-label">Tipo documento</label>
                    <select name="cbotipodoc" id="cbotipodoc" class="form-control">
                        <option value="R" selected>RUC</option>
                        <option value="D">DNI</option>
                        <option value="C">CARNET DE EXTRANJERÍA</option>
                        <option value="O">OTROS</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="txtdocumento" class="form-label">Documento</label>
                    <input type="text" class="form-control" id="txtdocumento">
                </div>
                <div class="mb-3">
                    <label for="txtnombre" class="form-label">Nombre</label>
                    <input type="text" class="form-control" id="txtnombre">
                </div>
                <div class="mb-3">
                    <label for="txtdireccion" class="form-label">Dirección</label>
                    <input type="text" class="form-control" id="txtdireccion">
                </div>
                <div class="mb-3">
                    <label for="txtdistrito" class="form-label">Distrito</label>
                    <input type="text" class="form-control" id="txtdistrito">
                </div>
                <div class="mb-3">
                    <label for="txtciudad" class="form-label">Ciudad</label>
                    <input type="text" class="form-control" id="txtciudad">
                </div>
                <div class="mb-3">
                    <label for="cbotipo" class="form-label">Tipo</label>
                    <select name="cbotipo" id="cbotipo" class="form-control">
                        <option value="C" selected>Comercializador</option>
                        <option value="D">Distribuidor</option>
                        <option value="F">Fabricante</option>
                        <option value="O">Otros</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="txtcomentarios" class="form-label">Comentarios</label>
                    <input type="text" class="form-control" id="txtcomentarios">
                </div>

                <div class="mb-3" id="swestado">
                    <label for="cboestado" class="form-label">Estado</label>
                    <select name="cboestado" id="cboestado" class="form-control">
                        <option value="A" selected>Activo</option>
                        <option value="I">Inactivo</option>
                        <option value="S">Suspendido</option>
                    </select>
                </div>

                <input type="hidden" id="hdidproveedor" value="0">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class="fas fa-times"></i> Cancelar</button>
                <button type="button" id="btnguardar" class="btn btn-primary"><i class="fas fa-save"></i> Guardar</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>