<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:fragment="head">
    <meta charset="UTF-8">
    <title>Tracking System</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"> <!-- Importante para la responsividad -->
    <link th:href="@{/styles/bootstrap/bootstrap.css}" rel="stylesheet">
    <link th:href="@{/styles/fontawesome/all.css}" rel="stylesheet"/>
    <link th:href="@{/styles/estilo.css}" rel="stylesheet"/>
    <script th:src="@{/scripts/bootstrap/bootstrap.bundle.js}" type="text/javascript"></script>
    <script th:src="@{/scripts/jquery/jquery.js}" type="text/javascript"></script>
</head>
<body>

<nav th:fragment="menu" class="navbar navbar-expand-lg bg-primary navbar-dark">
    <div class="container-fluid"> <!-- Contenedor fluido para ocupar todo el ancho -->
        <a class="navbar-brand" href="#">TRACKING</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#menuLateral" aria-controls="menuLateral">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-start" id="menuLateral" tabindex="-1" aria-labelledby="menuLateralLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="menuLateralLabel">Menu</h5>
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav flex-grow-1 pe-3">
                    <!-- Data Maestra -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dataMaestraDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Data Maestra
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="dataMaestraDropdown">
                            <li><a class="dropdown-item" th:href="@{/backoffice/usuario}">Usuarios</a></li>
                            <li><a class="dropdown-item" th:href="@{/backoffice/producto}">Productos</a></li>
                            <li><a class="dropdown-item" th:href="@{/backoffice/cliente}">Clientes</a></li>
                            <li><a class="dropdown-item" th:href="@{/backoffice/proveedor}">Proveedores</a></li>
                        </ul>
                    </li>
                    <!-- Gestión de ventas -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="gestionVentasDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Gestión de ventas
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="gestionVentasDropdown">
                            <li><a class="dropdown-item" th:href="@{/backoffice/pedido}">Pedidos</a></li>
                            <li><a class="dropdown-item" th:href="@{/backoffice/comprobante}">Comprobantes</a></li>
                        </ul>
                    </li>
                    <!-- Gestión de almacenes -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="gestionAlmacenesDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Gestión de logística
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="gestionAlmacenesDropdown">
                            <li><a class="dropdown-item" th:href="@{/backoffice/inventario/ingreso}">Ingreso a almacén</a></li>
                            <li><a class="dropdown-item" th:href="@{/backoffice/inventario/salida}">Salida de almacén</a></li>
                        </ul>
                    </li>
                    <!-- Gestión de compras -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="gestionComprasDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Gestión de compras
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="gestionComprasDropdown">
                            <li><a class="dropdown-item" th:href="@{/backoffice/ordencompra}">Orden de compra</a></li>
                        </ul>
                    </li>

                    <!-- Gestión de seguimiento -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="gestionSeguimientoDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Gestión de seguimiento
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="gestionSeguimientoDropdown">
                            <li><a class="dropdown-item" th:href="@{/backoffice/seguimiento}">Actualizar estado de pedidos</a></li>
                            <li><a class="dropdown-item" th:href="@{/backoffice/notificacion}">Actualizar notificaciones a los usuarios</a></li>
                        </ul>

                    </li>

                    <!-- Cerrar Sesión -->
                    <li class="nav-item">
                        <form th:action="@{/logout}" method="post" class="d-flex mt-3 mt-lg-0">
                            <button class="btn btn-light" type="submit">Cerrar Sesión</button>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>

</body>
</html>

