<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{layout::head}">
    <style>
        body {
            background-image: url('/imagenes/ingeniero.jpg');
            background-position: center; /* Centra la imagen */
            background-repeat: no-repeat; /* Evita que la imagen se repita */
            background-attachment: fixed; /* Hace que el fondo permanezca fijo al hacer scroll */
        }
    </style>
</head>
<body>

<nav th:replace="~{layout::menu}"></nav>

<div class="username-container">
    <div class="message">
        ¡Bienvenido , <span th:text="${session.usuario}"></span>! Gracias por usar nuestra aplicación.
    </div>
</div>

</body>
</html>
